@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Recursive:wght@300..1000&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font: 700 12px "Noto Sans KR", sans-serif;
}

p {
    font: 400 12px "Noto Sans KR", sans-serif;
    padding-left: 14px;
}

#bg {
    background-image: url(img/fic_bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
}

.apple {
    padding: 112px 0 88px 0;
}


/* gnb */

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    font: 400 12px "Recursive", sans-serif;
    letter-spacing: 4px;
    color: #fff;
    padding: 0px 2px 0 6px;
}

.menu ul li a:hover {
    color: #3337EF;
    background-color: #fff;
}


/* list */

.scroll {

    position: relative;
    height: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 88px;
    text-align: left;
}

.list a {
    text-decoration: none;
    color: #fff;
}

.list a:hover {
    background-color: rgba(155, 0, 0, 0.747);
}

.name {
    width: 480px;
    height: 104px;
    border: solid 1px #ff0000;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.308);
}

.name h1 {
    display: inline-block;
    background-color: #ff0000;
    padding: 2px 14px;
    color: #fff;
    margin-bottom: 26px;
}

.name span {
    border-radius: 100px;
    background-color: #fff;
    color: #ff0000;
    padding: 0px 6px;
    font-weight: 700;
    font-size: 10px;
}

footer {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    padding: 88px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 8px;
    color: #fff;
    padding-top: 6px;
}


/* 모바일용 (최대 767px) */
@media screen and (max-width: 767px) {
    h1 {
        font: 700 10px "Noto Sans KR", sans-serif;
    }

    p {
        font: 400  10px "Noto Sans KR", sans-serif;
        padding-left: 8px;
    }


    .menu ul {
        gap: clamp(2rem, 10vw, 6rem);
    }

    .menu ul li a {
    font: 400 10px "Recursive", sans-serif;
}


    .scroll {
        width: 100%;
        padding: 0 38px;
    }


    .apple {
        padding: 136px 0 66px 0;
      
    }

    .apple img {
          width: 40px;
    }

    .list {
        gap: 14px;
        padding-top: 66px;
    }


    .name {
    width: clamp(300px, 80vw, 480px);
    height: 70px;
    border: solid 1px #ff0000;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.308);
}    

.name h1 {
    margin-bottom: 20px;
}

footer {
    padding: 66px 0;
}

    footer img {
        width: 16px;
    }

    footer p {
        font-size: 6px;
        color: #fff;
        padding-top: 6px;
    }


    .name span {
    font-size: 8px;
}


}
