@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Recursive:wght@300..1000&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font: 700 18px "Noto Sans KR", sans-serif;
    color: #fff;
}

h2 {
    font: 700 14px "Noto Sans KR", sans-serif;
    color: #fff;
}

p {
    font: 400 14px "Noto Sans KR", sans-serif;
    color: #262626;
    line-height: 20px;
}

#bg {
    background-image: url(img/fic_bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
}

.apple {
    padding: 112px 0 88px 0;
}


/* gnb */

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    font: 400 12px "Recursive", sans-serif;
    letter-spacing: 4px;
    color: #fff;
    padding: 0px 2px 0 6px;
}

.menu ul li a:hover {
    color: #3337EF;
    background-color: #fff;
}




.scroll {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    display: none;
}


/* 본문 */

.container {
    width: 710px;
    background-color: #fff;
    margin-top: 88px;
}

.title {
    width: 568px;
    height: 48px;
    margin: auto;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
}

.fiction {
    width: 568px;
    height: 100%;
    margin: auto;
    padding: 62px 0;
}

.fiction p {
    margin-bottom: 24px;
}

.fiction span {
    margin: 24px;
}



footer {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    padding: 88px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 8px;
    color: #fff;
    padding-top: 6px;
}


/* 모바일용 (최대 767px) */
@media screen and (max-width: 767px) {
    h1 {
        font: 700 12px "Noto Sans KR", sans-serif;
        color: #fff;
    }

    h2 {
        font: 700 10px "Noto Sans KR", sans-serif;
        color: #fff;
    }

    p {
        font: 400 11px "Noto Sans KR", sans-serif;
        color: #262626;
        line-height: 18px;
    }


    .menu ul {
        gap: clamp(2rem, 10vw, 6rem);
    }

    .menu ul li a {
        font: 400 10px "Recursive", sans-serif;
    }


    .scroll {
        width: 100%;
        padding: 0 0px;
    }


    .apple {
        padding: 136px 0 66px 0;

    }

    .apple img {
        width: 40px;
    }



    /* 글*/
    .container {
        width: clamp(338px, 80vw, 710px);
        background-color: #fff;
        margin-top: 66px;
        padding: 0 36px;
    }



    .title {
        width: 100%;
        height: 34px;
    }

    .fiction {
        width: 100%;
        padding: 28px 0px;
    }

    .fiction span {
        margin: 18px;
    }

    footer {
        padding: 66px 0 120px 0;
    }

    footer img {
        width: 16px;
    }

    footer p {
        font-size: 6px;
        color: #fff;
        padding-top: 6px;
    }


    .name span {
        font-size: 8px;
    }



}
